<ion-view view-title="Self Analysis">
<ion-content>
<!-- <ion-toggle ng-model="showFrequency" toggle-class="toggle-calm">Your EMA Timeline (past week)</ion-toggle> -->
<div ng-if="values.length && !showFrequency">
<canvas id="doughnut" class="chart chart-doughnut"
  chart-data="values" chart-labels="labels" chart-legend="labels" chart-options="options">
</canvas> 
<!-- <canvas id="base" class="chart-base" chart-type="type"
  chart-data="values" chart-labels="labels" chart-legend="labels">
</canvas> -->
</div>
<div ng-if="data.length && showFrequency">
<canvas id="line" class="chart chart-line" chart-data="data"
  chart-labels="labels1" chart-legend="true" chart-series="series"
  chart-click="onClick">
</canvas> 
</div>
<button class="button button-large button-positive" ng-click="toggleChart()">
   {{text}}
</button>
</ion-content>
</ion-view>



	<script id="templates/login.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">Vibes</h1>
        </ion-header-bar>
        <ion-content class="padding">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input ng-model="credentials.email" type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input ng-model="credentials.password" type="password">
                </label>
                <div class="button-bar">
                    <button class="button button-block button-stable" ng-click="login(credentials)">Login</button>
                    <button class="button button-block button-positive" ng-click="register(credentials)">Register</button>
                </div>
            </div>
        </ion-content>
    </ion-modal-view>
</script>
