<ion-view view-title="Settings">
    
    <ion-nav-buttons side="primary">
        <button class="button button-icon ion-log-out" ng-click="logout()">
        </button>
    </ion-nav-buttons>
    <ion-content>
  
 <div class="card">
  <div class="item item-divider">
    Please tell us a little more about yourself!
  </div>
    <div class="list">

      <label class="item item-input item-select" >
       Gender
        <select>
          <option>Female</option>
          <option selected>Male</option>
        </select>
      </label>
      <label class="item item-input">
      <input type="text" placeholder="Your Age">
      </label>
    </div>
</div>
    <div class="list">


    </div>
        