<ion-view view-title="My Vibes">
    <ion-nav-buttons side="secondary">
        <button ng-disabled="createEMADisabled" class="button button-icon ion-compose" ng-click="emaModal.show()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <a ng-swipe-left="removeEMA(EMA)" class="item item-avatar" ng-repeat="EMA in EMAs" href="#">
                <img ng-src="{{EMA.weather.icon}}"/>
                <span class="emaText">"{{EMA.thought}}"</span>
                <small> - <time am-time-ago="{{EMA.timestamp}}"></time></small>
                <span ng-repeat="mood in moods">
                <img class ="emaList" ng-class="{'redSmiley': EMA.mood <3, 'greenSmiley': EMA.mood >3, 'smileySelected': EMA.mood == 3}" ng-src="{{mood.url}}" ng-if="EMA.mood==mood.id" height="40"  />
                </span>
            </a>
        </div>
    </ion-content>
</ion-view>
<script id="templates/createEMA.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">New EMA</h1>
            <button class="button button-clear button-primary" ng-click="emaModal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
            <div class="card">
                <div class="item item-divider">
                    Hows your mood right now?
                    <div class="row">
                        <div class="col">
                            <span ng-repeat="mood in moods">
                                <img ng-class="{ 'smileySelected': $index == selectedIndex, 'smiley':$index != selectedIndex }" ng-src="{{mood.url}}" ng-click="setEmojiValue(mood.id,$index)" />
                            </span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Thought</span>
                        <input ng-model="EMA.thought" type="text">
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Share?
                        </div>
                        <select ng-model="EMA.landmark">
                            <option value="" selected></option>
                            <option ng-value="landmark.$id" ng-repeat="landmark in landmarks">{{landmark.name}}</option>
                        </select>
                    </label>
                    <button ng-disabled="createEMADisabled" class="button button-full button-positive" ng-click="createEMA(EMA)">Create</button>
                </div>
            </div>
        </ion-content>
    </ion-modal-view>
</script>
<script id="templates/login.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">Login</h1>
        </ion-header-bar>
        <ion-content class="padding">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input ng-model="credentials.email" type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input ng-model="credentials.password" type="password">
                </label>
                <button class="button button-full button-positive" ng-click="login(credentials)">Login</button>
                <button class="button button-full button-positive" ng-click="register(credentials)">Register</button>
            </div>
        </ion-content>
    </ion-modal-view>
</script>