<ion-view view-title="Settings">
    <ion-nav-buttons side="primary">
        <button class="button button-icon ion-log-out" ng-click="logout()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Age</span>
                <input ng-change="changedAge(settings.age)" ng-model="settings.age" type="number">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Gender
                </div>
                <select ng-change="changedGender(settings.gender)" ng-model="settings.gender">
                    <option selected value=""></option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    School
                </div>
                <select ng-change="changedSchool(settings.school)" ng-model="settings.school">
                    <option selected value=""></option>
                    <option ng-repeat="school in schools">{{school}}</option>
                </select>
            </label>
        </div>
    </ion-content>
</ion-view>
<script id="templates/login.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
            <h1 class="title">Login</h1>
        </ion-header-bar>
        <ion-content class="padding">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input ng-model="credentials.email" type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input ng-model="credentials.password" type="password">
                </label>
                <button class="button button-full button-positive" ng-click="login(credentials)">Login</button>
                <button class="button button-full button-positive" ng-click="register(credentials)">Register</button>
            </div>
        </ion-content>
    </ion-modal-view>
</script>